parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Call to an undefined method Mockery\\(.*)$#'
            paths:
                - tests/*
        -
            message: '#expects (.*), Mockery\\MockInterface given.$#'
            paths:
                - tests/*

    tmpDir: /tmp/phpstan
