name: Integration Tests

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"

            - name: Install dependencies
              run: composer install

            - name: Set up Docker Compose
              uses: docker/setup-compose-action@v1

            - name: Run integration tests
              run: vendor/bin/phpunit tests/Integration

            - name: Report results
              if: always()
              run: echo "Integration tests completed."
