name: Integration Tests

on:
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"

            - name: Install dependencies
              run: composer install

            - name: Set up Docker Compose
              uses: docker/setup-compose-action@v1

            - name: Prepare data directory with correct permissions
              run: |
                  mkdir -p ./tests/.litebase
                  chmod 777 ./tests/.litebase

            - name: Run integration tests
              run: vendor/bin/pest tests/Integration

            - name: Report results
              if: always()
              run: echo "Integration tests completed."
