name: Integration Tests

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            api:
                image: litebase/litebase
                ports:
                    - 8080:8080
                options: >-
                    --health-cmd="curl --fail http://localhost:8080/ || exit 1"
                    --health-interval=30s
                    --health-timeout=10s
                    --health-retries=5

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"

            - name: Install dependencies
              run: composer install

            - name: Run integration tests
              run: vendor/bin/phpunit tests/Integration

            - name: Report results
              if: always()
              run: echo "Integration tests completed."
