name: tests

on:
    push:
        branches: [main, develop]
        paths:
            - "src/**"
            - "tests/**"
            - "phpunit.xml.dist"
        tags-ignore:
            - "**"
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.4"
                  tools: composer:v2
                  coverage: xdebug

            - name: Install Dependencies
              run: composer install --no-interaction --prefer-dist --optimize-autoloader

            - name: Tests
              run: ./vendor/bin/pest --ci
